html{
	font-family:"Comic Sans MS","tw cen", "Arial", "sans serif";
	color: black;
}
body{
	margin: 1%;
	background-image: url("../../media/back.png");
}
#wrapper{
	width: 60%;
	min-width: 648px;
	max-width: 2048px;
	margin: 0 auto;
	display: block;
	border: 0px solid #7EB977;
	box-sizing: border-box;
}
button{
	padding:0;
}
header{
	width: 100%;
	height: 13vh;
	min-height: 95px;
	background-color: #ACE4A3;
	border: 1px solid #7EB977;
	box-sizing: border-box;
}
img{
	width: 100%;
	height: 100%;
}
.button{
	float: left;
	width: 18%;
	height: 6.5vh;
	min-height: 50px;
	background-color: #ACE4A3;
	border: 2px solid #7EB977;
	box-sizing: border-box;
	margin: 1%;
	color:black;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 200%;
}
.button:Hover{
	color: red;
}
main{
	width: 98.1%;
	min-height: 67vh;
	height: auto;
	background-color: #ACE4A3;
	border: 1px solid #7EB977;
	box-sizing: border-box;
	margin-left: 1vh;
	margin-right: 1vh;
	margin-bottom: 1vh;
	margin-top: 68px;
	padding: 5px;
	text-align: center;
}

#searchbox{
	width: 80%;
	min-height: 9.5em;
	background-color: #ACE8A3;
	border: 1px solid #7EB977;
	box-sizing: border-box;
	margin: 0 auto;
	display: block;
}
#comment{
	font-size: 85%;
	text-align: left;
	padding-left: 35%;
}
#search{
	font-size: 85%;
	text-align: left;
	width: 100%;
	height: auto;
}
footer{
	width: 100%;
	height: 70px;
	background-color: #ACE4A3;
	border: 1px solid #7EB977;
	box-sizing: border-box;
	text-align: center;
}
i{
	color: black;
}
#basicSearch{
	align-content: center;
	width: 64%;
	height: auto;
	float: left;
	padding-left: 30%;
	padding-right: 0%;
}

#advancedSearch{
	display: block;
	width: 30%;
	height: auto;
	padding-left: 30%;
}
#results{
	margin: auto;
	font-weight:normal;
	border-collapse:collapse;
	border-spacing:0;
	border-color: #7EB977;
}
@media only screen and (max-width: 768px){
	body{
		margin: 0;
	}
	#wrapper{
		width: 100%;
		min-width: 0;
		max-width: 768px;
		margin: 0 auto;
		display: block;
		border: 0px solid #7EB977;
		box-sizing: border-box;
	}
	header{
		width: 100%;
	}
	img{
		max-width: 100%;
		height: 100%;
	}
	.button{
		float: left;
		width: 100%;
		border-radius: 0;
		margin: 0;
	}
	main{
		width: 100%;
		margin:0;
		text-align: center;
	}

	#searchbox{
		width: 100%;
	}
	#comment{
		font-size: 85%;
		text-align: left;
	}
	#search{
		font-size: 85%;
		text-align: left;
	}
	#basicSearch{
		width: 100%;
		justify-content: center;
		clear: both;
		padding-left: 30%;
	}
	#advancedSearch{
		width: 100%;
		justify-content: center;
		clear: both;
		padding-left: 30%;
	}
	.sortstuff{
		clear: both;
	}
	footer{
		width: 100%;
	}
}
